@model Kawaii.ViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Search";
}

<h2>Results for: "@Model.SearchText"</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3 who-to-follow-wrapper">
        <h2>Users</h2>
        @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.Users })
    </div>
</div>

@section Scripts{
    <script>$(document).ready(function () {
            $("#comment-button").click(function () {
                $(".write-comment").css("display", "flex");
            });
        });</script>
}

