@model Kawaii.ViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Search";
}

<h2 style="color: #dadbdf;">Результат поиска: "@Model.SearchText"</h2>

<div class="row search">
    <div class="col-md-6 col-md-offset-3 who-to-follow-wrapper">
        <h2>Пользователи</h2>
        @await Component.InvokeAsync("ListOfUsers", new { viewModel = Model.Users })
    </div>
</div>

