@model Kawaii.ViewModels.UsersListViewModel

@if (!Model.Users.Any())
{
    <div class="text-center">
        <p>У вас нет подписчиков <img class="w-25 p-3" src="~/Images/bible-tump.png" /></p>
    </div>
}
else
{
    var users = Model.Users.ToList();
    if (@Model.UsersCount != 0)
    {
        users = users.Take(@Model.UsersCount).ToList();
    }

    foreach (var user in users)
    {
        <div class="follower">
            <div class="left-user-section">
                <div class="user-name"><a asp-controller="UsersProfiles" asp-action="Index" asp-route-userId="@user.Id"><strong>@user.UserName</strong></a></div>
            </div>
        </div>
    }
}

