body {
}

/*.follow{
    background: blue;
}*/

.unfollow{
    background: red;
}

.follow-container {
   margin-left: 10px;
   color: #c8d4fe;
}
.follow-container a{
   color: #8f9bb0;
}

.profile-picture{
    height:200px;
}

.video{
      margin-left: 200px;
}
.carousel-a{
    height:20px;
    margin-top: 120px;
}
