@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <div>
        <h2 style="color:azure;">Добро пожаловать в социальную сеть Kawaii</h2>
    </div>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" class="btn btn-light" />
    </form>
}
else
{
    <div class="authorize">
        <div class="l-r-container">
            <a class="login" asp-controller="Account" asp-action="Login">Log In</a>
            <a class="register" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </div>
}
