@model Kawaii.ViewModels.UserInfoViewModel

<div class="container">
    <div class="row">
        <div class="row user-info text-center">

            <img src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=NfkOPNbqRDAAX-6-upR&oh=02374559abde49e8f0dfb83bc246db7b&oe=5E90E8F1" class="profile-picture" />

            <h2>@Model.Name</h2><br />

        </div>

    </div>

    @if (Model.Name != User.Identity.Name)
    {
        <div class="follow" style="display: block">
            @if (Model.IsBeingFollowedByCurrentUser)
            {
                <button data-userid="@Model.UserId" class="unfollow">Unfollow</button>
            }
            else
            {
                <button data-userid="@Model.UserId">Follow</button>
            }
        </div>
    }
</div>
