@model Kawaii.ViewModels.UserInfoViewModel

<div class="container">
    <div class="row">
        <div class="row user-info text-center">

            <img src="~/Images/profile.png" class="profile-picture" />

            <h2 class="username">@Model.Name</h2><br />

        </div>

    </div>

    @if (Model.Name != User.Identity.Name)
    {
        <div class="follow" style="display: block">
            @if (Model.IsBeingFollowedByCurrentUser)
            {
                <button data-userid="@Model.UserId" class="unfollow">Unfollow</button>
            }
            else
            {
                <button data-userid="@Model.UserId">Follow</button>
            }
        </div>
    }
</div>
